#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	# Make file does not build both 32 bit and 64 bit targets at once (orig Readme is wrong)
	# build voglperf32 
	make voglperf32
	# build voglperf64
	make voglperf64
